.metadata
*.so*
*.d
*.o
*.a
*.user
.settings/
*.layout
*.cbTemp
.externalToolBuilders/
.project
.cproject
*~
dunaWatchdog
*.log.*
*.log.backup
muttrc
duna.xml
msmtp.conf

debug/dunaWatchdogd
release/dunaWatchdog
debug/src/*
release/src/*

portable/*
